<%include file="header.html"/>

<%namespace name="webber" module="webber"/>

% for pool in pools:
    ${maketable(pool)}
% endfor

<%def name="maketable(pool)">
    <table class="gridtable">
        % for row in pool.getSummary():
            ${makerow(row)}
        % endfor
        % if forEmail == False:
        	${makerow(pool.getScrubRow())}
        % endif
        <td colspan=2>${pool.getChart()}</td>
    </table>
</%def>

<%def name="makerow(row)">
    <tr>
    % for index, cell in enumerate(row):
    %    if index == 0:
            <th>${cell.replace('\r\n','<br>')}</th>
    %    else:
            <td>${cell.replace('\r\n','<br>')}</td>
    %    endif
    % endfor
    </tr>
</%def>


% if forEmail == False:
	<br>
	<%include file="controls.html"/>
% endif

<%include file="footer.html"/>
